@use './mixins' as *;
@use './reset' as *;
@use './variables' as *;
@use './fonts' as *;


body{ 
    font-family: avenir;
}


.header {
    background-color: #323232;
    color: rgb(68, 68, 68);
    width: 100%;

    &__wrapper {
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 4rem;
        }
    }

    &__logo {
        display:flex;
        justify-content: center;
        padding-bottom: 1rem;
        
       
    }
}



.nav {
    width: 100%;
    line-height: 1.125rem;

    &__links {
        display: flex;
        justify-content: center;
        width: 100%;
        color:#FFF;

        @include tablet{
            justify-content: space-evenly;
            width: 50%;
        }
    }
    
    
    &__links-item {
        padding-bottom: 1rem;
        text-align: center;
        width: 50%;
        
        @include tablet{
            width: 25%;

        }
    
    
    &--current {
        border-bottom: 5px solid #FFF;
                 
    }
    }

}


.footer {
    &__info-container{
        padding-bottom: 1rem;
    }

    &__header{
            display: flex;
            flex-direction: column;
            padding: 1rem 0 1rem;

            @include tablet{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            }


        &--logo {
            display: none;
            

            @include tablet{
                display:flex;
            }

         
        &--text{
            font-size: $mobile-headers;
            line-height: 32px;
            
        }    

        }
    }
    &__icons{
        padding-top:1rem;
        & img{
            padding-right: 1rem;
        }
    }

    &__wrapper {
        background-color: #323232;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        @include tablet{
            display: flex;
            flex-direction: column;
        }
        
    }
    &__contact-info{
        @include tablet{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__bottom--logo{
        visibility: visible;
        
        @include tablet{
            visibility: hidden;
        }
    }

    p{
        padding-top: 1rem;
    }

    &__contact-name{
    font-weight: 600;
    }
}

h1{
    font-size: $mobile-headers;
    color: #FFF;

}

button{
    font-weight: 700;
    line-height: 1.25rem;
}

h2{
    font-size: $mobile-headers;
    @include tablet{
        line-height: 2.75rem;
        font-size: $Desktop-Tablet-headers;
    }
}

a {
    color: #fff;
    text-decoration: none; 
 }

.copyright{
    font-size: 0.625rem;
}

button{
    background-color: #323232;
    color:#fff;
    font-size: $mobile-labels-buttons;
    border-radius: 5px;
    height: 2.5rem;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #000;;
    }
}



label{
    font-size: $mobile-labels-buttons;
    line-height: $labels-buttons-lineHeight;
      color: #afafaf ;
      padding-bottom: .5rem;

      @include tablet{
        font-size: $Desktop-tablet-labels-buttons;
      }

  }

