html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
body {
  font-family: avenir;
}

.header {
  background-color: #323232;
  color: #444444;
  width: 100%;
}
.header__wrapper {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 4rem;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.nav {
  width: 100%;
  line-height: 1.125rem;
}
.nav__links {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .nav__links {
    justify-content: space-evenly;
    width: 50%;
  }
}
.nav__links-item {
  padding-bottom: 1rem;
  text-align: center;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .nav__links-item {
    width: 25%;
  }
}
.nav__links-item--current {
  border-bottom: 5px solid #FFF;
}

.footer__info-container {
  padding-bottom: 1rem;
}
.footer__header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__header--logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__header--logo {
    display: flex;
  }
}
.footer__header--logo--text {
  font-size: 1.5rem;
  line-height: 32px;
}
.footer__icons {
  padding-top: 1rem;
}
.footer__icons img {
  padding-right: 1rem;
}
.footer__wrapper {
  background-color: #323232;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__bottom--logo {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .footer__bottom--logo {
    visibility: hidden;
  }
}
.footer p {
  padding-top: 1rem;
}
.footer__contact-name {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
  color: #FFF;
}

button {
  font-weight: 700;
  line-height: 1.25rem;
}

h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    line-height: 2.75rem;
    font-size: 2.5rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  font-size: 0.625rem;
}

button {
  background-color: #323232;
  color: #fff;
  font-size: 0.625rem;
  border-radius: 5px;
  height: 2.5rem;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: #000;
}

label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #afafaf;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 0.75rem;
  }
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}
.hero__wrapper {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  justify-content: space-evenly;
}
.hero__text {
  font-weight: 600;
  font-size: 1.5rem;
}
.hero__small {
  color: #FFF;
  font-size: 1rem;
}

.shows__title {
  padding: 1.5rem 0 1rem;
  font-weight: 700;
}/*# sourceMappingURL=shows.css.map */