@use './partials/bio' as *;
@use './partials/mixins' as *;
@use './partials/reset' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;


body{ 
    font-family: avenir;
}


.header {
    background-color: #323232;
    color: #FFF;
    width: 100%;

    &__wrapper {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__logo {
        display:flex;
        justify-content: center;
        
       
    }
}



.nav {
    width: 100%;

    &__links {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.5rem 0 0 0;
    
        &__links-bullet {
        text-align: center;
        width: 50%;
        padding: 0 0 1rem;

             &--current {
            border-bottom: 5px solid #FFF;
             }    
        }
    }

}


.footer {
    &__wrapper {
        background-color: #323232;
        color: #fff;
        flex-direction: column;
        padding: 1rem;
        
    }
    p{
        padding-top: 1rem;
    }
}

img{
    max-width: 100%;

}


h1{
    font-size: $mobile-headers;
    color: #FFF;

}

h2{
    font-size: $mobile-headers;

}

a {
    color: #fff;
    text-decoration: none; 
 }





